BLEPlayground.xcworkspace/xcuserdata
BLECentral/BLECentral.xcodeproj/project.xcworkspace
BLECentral/BLECentral.xcodeproj/xcuserdata
BLEPeripheralOSX/BLEPeripheralOSX.xcodeproj/project.xcworkspace
BLEPeripheralOSX/BLEPeripheralOSX.xcodeproj/xcuserdata
